@{
    ViewBag.Title = "Greetings, and welcome to my blog!";
}
    <div class="container align-content-center mr-2">
        <h2>@ViewBag.Title</h2>

        <p>My name is Ethan, and I am a full-stack .NET developer studying at Coder Foundry! <br />
        Here you will find musings pertaining to my experiences learning web development <br />
        despite having no prior coding experience.</p>
        <br />
        <p>In addition to my coding endeavors, I also have been a professional wrestler since <br />
        2014, have 7 years of experience working in a warehouse, and enjoy bad movies.</p>
        <br />
        <p></p>
    </div>
